* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", "Open Sans", sans-serif;
    font-weight: 400;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    background: #05435c;
}

#wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 100%;
}

header h1 {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0.33em;
    color: rgb(255, 255, 255);
}

header h2 {
    font-size: 3.5rem;
    color: rgba(255, 255, 255, 0.8);

    height: 1.8em;
}

header h2 strong {
    color: rgba(255, 255, 255);
}

.progress-bar {
    width: 12rem;
    height: 70vh;
    border-radius: 0.8rem;

    box-shadow: inset 0 0 2rem rgba(0, 0, 0, 0.4);
    background: linear-gradient(90deg, #dd1267, #eb6284 30%, #dd1267, #ac0474);

    display: flex;
    align-items: flex-end;

    position: relative;
    overflow: hidden;
}

.progress-bar #time-marks-list {
    list-style: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.progress-bar #time-marks-list > li {
    position: relative;
    width: 100%;
}

.progress-bar #time-marks-list > li::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.8) 40%,
        transparent 90%
    );
}

.progress-bar #empty-space {
    box-shadow: inset 0 0.4rem 2rem rgba(0, 0, 0, 0.5);
    background: #c9edff;
    width: 100%;
    height: 0%;
    position: absolute;
    top: 0;
    transition: height 2s ease;
}

.progress-bar #warning {
    background: repeating-linear-gradient(
        135deg,
        #e7d20f,
        #e7d20f 1rem,
        transparent 1rem,
        transparent 2rem
    );
    height: 15%;
    width: 100%;
}

@media screen and (max-width: 900px) {
    #wrap {
        flex-direction: column;
        justify-content: flex-start;
    }

    header h1 {
        font-size: 4vw;
        margin-top: 4em;
    }

    header h2 {
        font-size: 6vw;
        margin-bottom: 1em;
    }

    .progress-bar {
        width: 1rem;
        height: 70vw;
        min-height: 70vw;
        transform: rotate(90deg) translateX(-10vh);
        box-shadow: unset;
    }

    .progress-bar #empty-space {
        box-shadow: unset;
    }

    .progress-bar #warning {
        background: repeating-linear-gradient(
            45deg,
            #ddc806,
            #ddc806 0.5rem,
            transparent 0.5rem,
            transparent 1rem
        );
    }
}
