* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", "Open Sans", sans-serif;
    font-weight: 400;
}

#wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 0 5%;
    background: #073042;
}

header h1 {
    font-weight: 700;
    font-size: 4.5rem;
    color: rgb(255, 255, 255);
}

header h2 {
    font-size: 2.2rem;
    margin-top: 1.5rem;
    color: rgba(255, 255, 255, 0.8);

    height: 4rem;
}

header h2::after {
    content: "";
    animation-name: loading-animation;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    margin-left: 1.8rem;
    display: inline-block;
    letter-spacing: .4em;
}

@keyframes loading-animation {
    0% { content: ""; }
    25% { content: "•"; }
    50% { content: "••"; }
    75% { content: "•••"; }
}

figure {
    width: 12rem;
    height: 70vh;
    border-radius: .8rem;
    
    background: #031b25;
    box-shadow: 0 .4rem 2rem rgba(0, 0, 0, 0.3);

    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
}

figure > div {
    background: #3DDB83;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: height 2s ease;
}

figure>div div:last-child {
    background: repeating-linear-gradient(135deg,#F96734,#F96734 1.8rem,#031b25 1.3rem,#031b25 2.6rem);
    min-height: 8rem;
}

@media screen and (max-width: 800px) {
    #wrap {
        flex-direction: column;
        justify-content: flex-start;
        padding: 3rem 0;
    }
    header h1 {
        font-size: 2rem;
    }
    header h2 {
        font-size: 1.2rem;
    }
    figure {
        width: 1rem;
        height: 70vw;
        transform: rotate(90deg);
        box-shadow: none;
    }
}